.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 70s linear;
  height: 8px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(50deg); }
  to { transform: rotate(-90deg); }
}
*/
body{
  background-image:url("/stars_sky_night_113553_3100x1740.jpg");
  color: yellow;
  font-size: 2em;
  font-weight: bold;
}

#titlemodal {
  font-size: 1.6em;
}
#textmodal {
  font-size: 2em;
}

.bouttonmarron {
  background-color: maroon;
}

.button1 {
color: white;
font-size: 2em;
}

.listchoices {
  font-size: 0.6em;
  color:yellow;
}

.taliste {
  font-size:1.3em;
  color:yellow;
}

ChoiceGender {
  color:yellow;
}